[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "gflags"]
	path = gflags
	url = git@github.com:gflags/gflags.git
[submodule "glog"]
	path = glog
	url = git@github.com:google/glog.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "PAM"]
	path = PAM
	url = git@github.com:cmuparlay/PAM.git
